<script src="https://giscus.app/client.js"
        data-repo="gwen2005/law-fishfish"
        data-repo-id="R_kgDOMvoNzg"
        data-category="Announcements"
        data-category-id="DIC_kwDOMvoNzs4CjMIo"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>