<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>https://yanziyu.site</title>
    
    <!-- 引入自定义样式表 -->
    <link rel="stylesheet" href="src/site/styles/user/custom-style.css"> </head>
<body>
    <h1>LAWFISH-你好哇</h1>
    <p>竹杖芒鞋轻胜马，谁怕？一蓑烟雨任平生。
回首向来萧瑟处，归去，也无风雨也无晴。</p>
</body>
</html>
